<!DOCTYPE html>
<html ng-app="mvrApp">
<head>
	<title>MVR</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="./js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="./js/lib/angular.min.js"></script>
	<script type="text/javascript" src="./js/lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="./js/lib/angular-route.min.js"></script>
	<script type="text/javascript" src="./js/lib/d3.js"></script>
	<script type="text/javascript" src="./js/lib/crossfilter.js"></script>
	<script type="text/javascript" src="./js/lib/dc.js"></script>
	<script type="text/javascript" src="./js/lib/colorbrewer.js"></script>

	<script type="text/javascript" src="./js/ngApp.js"></script>
	<script type="text/javascript" src="./js/controllers.js"></script>
	<script type="text/javascript" src="./js/services.js"></script>

	<link rel="shortcut icon" href="./img/tabicon.ico">
	<link rel="stylesheet" type="text/css" href="./css/theme.css">
</head>
<body ng-controller="indexController">
	<header>
		<a href="http://www.mvr.gov.mk/"><img class="header-logo" src="./img/mvrLogo.png"></a>
		<nav>
			<ul>
				<li><a href="#/home">{{lang.home}}</a></li><li><a href="#/filter">{{lang.filter}}</a></li><li><a href="#/about">{{lang.about}}</a></li>
			</ul>
		</nav>
		<span class="lang-bar">
			<span ng-bind="lang.language"></span>
			<img src="./img/mk.gif"		class="lang-icon" ng-click="loadLang('mk')" alt="mk">
			<img src="./img/en-gb.jpg"	class="lang-icon" ng-click="loadLang('en')" alt="en">
		</span>
	</header>
	<div ng-view></div>
</body>
</html>