<div class="side-menu-content">
    Settings
    <div class="left left-content">
        <ul menu>
            <li tab-id="general">{{lang.menu_general}}</li>
            <li tab-id="user">{{lang.menu_user}}</li>
            <li tab-id="content" class="split {{User.usertype=='ROLE_ADMIN'?'show':'hide'}}">{{lang.menu_content}}</li>
        </ul>
    </div>
    <div class="left right-content">
        <div id="general">{{UserAccounts}}</div>
        <div id="user">{{lang.menu_user}}</div>
        <div id="content">{{lang.menu_content}}</div>
    </div>
</div>